.imagen-itla {
    width: 17%;
    height: 17%;
    border-radius: 10%;
}

.containerMain-itla {
    text-align: center;
    size: 30px;
    font-family: sans-serif;
}

.containerMain-itla strong {
    color: brown;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: brown;
}